OPENWEATHER_API_KEY=your_key_here
KAFKA_IP=kafka-container
MONGODB_PRIVATE_IP=mongo-container
JWT_SECRET=your_jwt_secret_here
FRONTEND_URL=http://localhost
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=adminpassword
MONGO_INITDB_DATABASE_USER=meteouser
MONGO_INITDB_DATABASE_PASSWORD=meteopassword
MONGO_INITDB_DATABASE=meteoDB
MONGODB_URI=mongodb://meteouser:meteopassword@mongo-container:27017/meteoDB
